{% extends 'layout.html' %}

{% block title_block %}    
    Home
{% endblock %}

{% block body_block %}  
<body style="text-align: center;background-color: white">

    <h1 style="font-size: 2.875em; text-align: center; color:rgb(65, 92, 243);"><b>Welcome! You can get short URL's here</b></h1>
    <div class="center" style=" width: 50vw; margin-left : 25vw;">
        <form action="/" method="POST">
        <label style="font-size: 1em; color: white">Enter URL: </label>
        <input type="text" style="text-align: center; color: solid black" name="url_link"  placeholder="Enter URL" required>
        <br>
        <button type="submit">Shorten</button>
        </form>
        <label style="font-size: 1em; color:white">Short URL:</label>
        <input type="text" style="text-align: center; color: solid black" placeholder="Short URL" value="{{shorter_url}}" id="myInput" ><br>

    <button onclick="myFunction()">Copy</button>
    </div>
    
      
    <script>
        function myFunction() {
    var v = document.getElementById("myInput");
    v.select();
    navigator.clipboard.writeText(v.value);
  }
    </script>
</body>
{% endblock %}

